body{
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #B71C1C, #212121);
    background-size: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  /*styling heading*/
  .header{
    color: #000000;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
  }
  /*Applying flex property*/
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
  }
  /*for displaying as card*/
  .groot, .deadpool, .Wolverine, .spider_man, .ant_man, .hulk, .ds{
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 40px 80px 10px black;
    margin: 10px;
    background: linear-gradient(to bottom right, #B71C1C, #212121);
    background-size: 100%;
    }
  /*heros description*/
  p{
    color: black;
    margin: 8px;
  }
  /*styling image*/
  img {
      display: block;
      border: 0;
      width: 100%;
      height: 525px;
  }
  /*heros heading description*/
  .heading{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 10px;
  }
  .link {
    padding: 0 1rem;
    position: relative;
    margin-right: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
  }
  
  .link:last-child {
    margin-right: 0;
  }
  .link {
  
    padding-top: 0.1rem;
    border-top: 0.125rem solid transparent;
    border-bottom: 0.125rem solid transparent;
  }
  
  
   .link::after {
    display: block;
    content: "";
    width: 100%;
    margin-top: 0rem;
    height: 0.25rem;
    border-bottom:  5px solid black;
    transition: 0;
    transform: rotateY(90deg);
  }
  
  .link:hover::after {
    color: white;
    transform: rotateY(0deg);  
    transition: 0.7s;
  }

  
