body{
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #B71C1C, #212121);
    background-size: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  /*styling heading*/
  .header{
    color: #FAFAFA;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
  }
  /*Applying flex property*/
  .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
  }
  /*for displaying as card*/
  .groot, .deadpool, .Wolverine, .spider_man, .ant_man, .hulk, .flash{
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 40px 80px 10px black;
    margin: 10px;
    background: linear-gradient(to bottom right, #B71C1C, #212121);
    background-size: 100%;
    }
  /*heros description*/
  p{
    color: black;
    margin: 8px;
  }
  /*styling image*/
  img {
      display: block;
      border: 0;
      width: 100%;
      height: auto;
  }
  /*heros heading description*/
  .heading{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 10px;
  }
