* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0rem;
  background-color: white;
  background: white;
}

nav {
  margin-left: 0rem;
  padding: 0px;
  background: linear-gradient(to bottom right, #B71C1C, );  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.nav-link {
  padding: 0 1rem;
  position: relative;
  margin-right: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
}

.nav-link:last-child {
  margin-right: 0;
}
.nav-link {

  padding-top: 0.1rem;
  border-top: 0.125rem solid transparent;
  padding-bottom: 0.1rem;
  border-bottom: 0.125rem solid transparent;
}


 .nav-link::after {
  display: block;
  content: "";
  width: 100%;
  margin-top: 0rem;
  height: 0.25rem;
  border-bottom:  5px solid black;
  transition: 0;
  transform: rotateY(90deg);
}

.nav-animated .nav-link:hover::after {
  transform: rotateY(0deg);  
  transition: 0.7s;
}
a:focus {
background-color: rgba(46, 46, 46, 0.521);
transition: 0.7s;
color: white;
}




